html {
    box-sizing: border-box;
    min-height: 100%;
}
*, *:before, *:after {
box-sizing: inherit;
}
body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
h2 {
    text-align: center;
}
.contenedor {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
}
/* Media Object */
.contenedor-comentario {
    display: flex;
    align-items: flex-start;
    
}
.contenedor-comentario .avatar {
    margin-right: 1rem; 
}
.segundo-nivel {
    background-color: #e1e1e1;
    align-items: center;
} 

/** Footer **/
.pagina {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.pagina h1, .pagina h2, .pagina p {
    margin: 0;
}
.pagina > * {
    padding: 1.3rem;
}
.pagina .encabezado {
    background-color: red;
}
.pagina .contenido-principal {
    background-color: white;
    max-width:900px;
    margin: 0 auto;
    flex: 1;
}

.pagina .footer {
    background-color: gray;
    color: white;
}

/* Centrado Vertical */
.centrado {
    background-image: url(../img/hamburguesa.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}
.contenido-centrado {
    color: #ffffff;
    text-align: center;
}
.contenido-centrado h1 {
    color: #e0ab10;
    text-transform:uppercase;
    margin: 0;
}
.contenido-centrado p {
    margin: 0;   
}
.contenido-centrado .ubicacion {
    font-weight: 900;
    font-size: 1.4rem;
}

/* AVISOS */
.centrado > div {
    flex: 0 0 calc(33.3% - 3rem);
}
.aviso {
    background-color: #e0ab10;
    padding: 2rem;
    font-size: 1.4rem;
    text-align: center;
}

.aviso span {
    font-size: 2rem;
    display: block;
}
.arriba {
    align-self: flex-start;
    margin-top: 1.5rem;
}
.abajo {
    align-self: flex-end;
    margin-bottom: 1.3rem;
}
